./home/inconJeshztion/
./home/inconJeshztion/.config/Code/User/globalStorage/botpa.stardew-pets/
./.config/Code/User/globalStorage/

home/inconJeshztion/.config/

# Java
*.class
*.jar

# Build folders
build/
out/
target/

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db